@use "../../lib" as l;

.bl_subHeader {
  &_title {
    display: block;
    text-align: center;
    font-size: l.$lFont;
    font-family: l.$title;
    text-shadow: 0.5px 0.5px 3px l.$cShadow;
    & .char {
      &:first-child {
        font-size: l.$titleFont;
      }
    }
  }
}
