@use "../lib" as l;

.ly_strech {
  height: 100%;
  &_body {
    height: 100%;
  }
  &_container {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  &_item {
    flex: auto;
  }
}
